.day {
    position: relative;

    width: calc(25% - 6px);
    margin-top: rem(6);
    padding-bottom: 15.5%;

    perspective: rem(1000);
    float: left;

    &:hover &__front {
        transform: rotateY(180deg);
    }

    &:hover &__back {
        transform: rotateY(360deg);
    }

    &__wrap {
        position: absolute;
        left: 0;
        top: 0;

        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    &__front,
    &__back {
        position: absolute;
        left: 0;
        top: 0;

        display: flex;
        min-width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        transition: 1s;
        backface-visibility: hidden;
        cursor: pointer;
    }

    &__back {
        transform: rotateY(180deg);
    }

    &__link {
        display: flex;
        flex-direction: column;

        color: $color-2;
        text-align: center;
        font-family: $font-3;
        text-decoration: none;
    }

    &__number {
        position: relative;

        display: block;

        font-size: rem(16);
        font-weight: 400;

        &:after {
            content: url("../img/arrow.png");
            position: absolute;
            top: -10%;
            right: 5%;
        }
    }

    &__month {
        font-size: rem(14);
        line-height: rem(19);

        @include above($tablet-b) {
            font-size: rem(18);
        }
    }
}

