*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

img {
    max-width: 100%;
}

// Mixins.

@mixin list-reset {
    margin: 0;
    padding: 0;

    text-indent: 0;

    list-style: none;
    list-style-position: outside;
// Баг на IOS
// list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); //Для ослика
}

@mixin clearfix {
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }
}

@mixin align-justify {
    text-align: justify;
    text-justify: newspaper;

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

@mixin absFull() {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin center() {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

@mixin hidden {
    position: absolute;
    clip: rect(0 0 0 0); /* for Internet Explorer */
    clip: rect(0, 0, 0, 0);

    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    border: 0;

    overflow: hidden;
}

@mixin hide-text {
    text-indent: 110%;
    white-space: nowrap;

    overflow: hidden;
}

// =============================================================================
// String Replace (вспомогательный миксин для font-face)
// =============================================================================

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

// $name - название для font-family
// $path - путь к шрифту без формата
// $weight - font-weight
// $style - font-style
// $exts - форматы шрифта, которые используются
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
            eot: "?",
            svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
            otf: "opentype",
            ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

// =============================================================================
// Медиа запросы
// =============================================================================

// меньше указанной ширины
@mixin below($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

// больше указанной ширины
@mixin above($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

// между первой и второй шириной
@mixin between($minWidth, $maxWidth) {
    @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        @content;
    }
}

// =============================================================================
// Функции пересчета значений
// =============================================================================

@function rem($px, $root: 16) {
    @return $px / $root * 1rem;
}

@function em($px, $root: 16) {
    @return $px / $root * 1em;
}

$font-1: 'Playfair Display', serif;
$font-2: 'Noto Sans', sans-serif;
$font-3: 'Noto Serif', serif;

$color-1: #848484;
$color-2: #000000;
$color-3: #010101;
$color-4: #acacac;
$color-5: #bebebe;

// ============================== MEDIA =======================================

$mobile: 320px;
$tablet: 480px;
$tablet-b: 768px;

// ============================== OTHER =======================================

$contPad: rem(5);
$contPadTablet: rem(20);
$contPadTablet-b: rem(34);

@import "calendar";
@import "pagination";
@import "container";
@import "today";
@import "banner";
@import "banner-logo";
@import "day";